/* Основные стили */
html {
    scroll-behavior: smooth;
}

body {
    font-family: 'Roboto', sans-serif;
    margin: 0;
    background-color: #dbf1a0;
    display: flex;
    justify-content: center;
    align-items: flex-start;
}

/* Стили для якорей */
.anchor {
    display: block;
    position: absolute;
    top: -100px;
    visibility: hidden;
}

html, body {
    height: 100%;
}

.wrapper {
    display: flex;
    justify-content: center;
    width: 100%;
}

.container {
    max-width: 1920px;
    width: 100%;
    padding: 0 20px;
}

.header {
    background-color: white;
    display: flex;
    justify-content: space-between;
    align-items: center;
    padding: 20px 0; /* Учитываем отступы контейнера */
    position: fixed;
    top: 0;
    left: 50%;
    transform: translateX(-50%);
    width: calc(100% - 40px); /* Учитываем отступы контейнера */
    max-width: 1920px;
    z-index: 1000;
    box-shadow: 0 4px 6px rgba(0, 0, 0, 0.1);
}

.logo {
    display: flex;
    align-items: center;
    margin: 0 30px;
}

.logophoto {
    max-height: 100px;
    max-width: 400px;
}

.buttons {
    display: flex;
    justify-content: flex-end;
    align-items: center;
    margin: 0 30px;
}

.button, .button-burger {
    margin: 0 30px;
    padding: 10px 20px;
    border: 2px solid #9dbd00;
    background-color: #fff;
    color: black; /* Цвет текста черный */
    text-decoration: none;
    border-radius: 6px;
    font-size: 20px;
    font-weight: bold;
    transition: background-color 0.3s, color 0.3s, transform 0.3s, box-shadow 0.3s;
}

.button:hover, .button-burger:hover {
    background-color: #9dbd00;
    color: white;
    transform: scale(1.05);
    box-shadow: 0 4px 8px rgba(0, 0, 0, 0.2);
}

.button-burger {
    margin: 0 60px;
    display: none;
}

.progress-bar {
    position: absolute;
    bottom: 0;
    left: 0;
    width: 0;
    height: 5px;
    background-color: #9dbd00;
    z-index: 1001;
}

.burger-container {
    padding: 41px 0 0 0;
    display: flex;
    justify-content: center;
    width: 100%;
    position: fixed;
    top: 100px; /* Под шапкой */
    left: 50%;
    transform: translateX(-50%);
    z-index: 999; /* Показать над основным содержанием */
    pointer-events: none; /* Отключить взаимодействие по умолчанию */
}

.burger-menu {
    display: flex;
    flex-direction: column;
    width: calc(100% - 41px); /* Привязка к ширине шапки */
    max-width: 1920px; /* Максимальная ширина */
    background-color: white;
    border: 1px solid #ddd;
    box-shadow: 0 4px 6px rgba(0, 0, 0, 0.1);
    border-bottom-left-radius: 10px;
    border-bottom-right-radius: 10px;
    pointer-events: auto; /* Включить взаимодействие при отображении */
    opacity: 0;
    transform: translateY(-20px);
    transition: opacity 0.3s ease, transform 0.3s ease;
    text-align: center; /* Центровка текста */
    visibility: hidden; /* Скрытие элемента */
}

.burger-menu.show {
    opacity: 1;
    transform: translateY(0);
    visibility: visible; /* Показывать элемент при активном состоянии */
}

.burger-menu.hide {
    opacity: 0;
    transform: translateY(-20px);
    visibility: hidden;
    transition: opacity 0.3s ease, transform 0.3s ease, visibility 0.3s;
}

.burger-menu a {
    padding: 20px 0; /* Увеличен размер текста и отступы */
    border-bottom: 1px solid #ddd;
    text-decoration: none;
    color: black;
    font-size: 1.2em; /* Увеличен размер текста */
    transition: background-color 0.3s, color 0.3s;
}

.burger-menu a:hover {
    background-color: #9dbd00;
    color: white;
}

main {
    display: flex;
    flex-direction: column;
    align-items: center;
    background-color: #fff;
    width: calc(100% - 40px); /* Учитываем отступы контейнера */
    max-width: 1920px;
    padding: 100px 20px 50px;
    flex: 1 1 auto;
    margin-top: 100px; /* Отступ для фиксированной шапки */
}

.first-block {
    position: relative;
    width: 100%;
    height: 800px; /* Увеличенная высота блока */
    overflow: hidden;
    display: flex;
    align-items: center;
    justify-content: center;
}

.background-image {
    position: absolute;
    top: 0;
    left: 0;
    width: 100%;
    height: 100%;
    object-fit: cover;
    z-index: 0;
    will-change: transform;
}

.background-overlay {
    position: absolute;
    top: 0;
    left: 0;
    width: 100%;
    height: 100%;
    background-color: rgba(157, 189, 0, 0.7); /* Зеленая заливка с неполной прозрачностью */
    z-index: 1;
}

.block-content {
    position: relative;
    z-index: 2;
    color: white;
    text-align: center;
}

.first-block .block_header {
    font-size: 3em;
    margin-bottom: 20px;
    color: white;
}

.first-block .block_text {
    font-size: 1.5em;
    line-height: 1.6;
    color: white;
}

footer {
    background-color: #9dbd00;
    color: white;
    display: flex;
    justify-content: center;
    align-items: center;
    width: calc(100% - 40px); /* Учитываем отступы контейнера */
    max-width: 1920px;
    padding: 20px 0;
    position: relative;
}

.footer-content {
    width: 100%;
    text-align: center;
    margin: 0 auto;
}

.popup {
    position: fixed;
    bottom: 20px;
    left: 50%;
    transform: translateX(-50%);
    background-color: #4CAF50;
    color: white;
    text-align: center;
    padding: 16px;
    border-radius: 8px;
    display: none;
    transition: opacity 0.5s ease-in-out;
}

.popup-content {
    background-color: #4CAF50;
    color: white;
}

/* Responsive Styles */
@media screen and (max-width: 1340px) {
    .button {
        display: none;
    }

    .button-burger {
        display: flex; /* Показываем на узких экранах */
    }
}

/* Стили для блока "О нас" */
.about-block {
    width: 100%;
    background-color: #ffffff;
    padding: 50px 20px;
    margin-top: 50px;
    display: flex;
    justify-content: center;
    align-items: center;
}

.about-content {
    max-width: 1200px;
    display: flex;
    justify-content: space-between;
    align-items: center;
    width: 100%;
}

.about-text {
    width: 45%; /* Уменьшенная ширина для увеличения расстояния */
    color: #333;
    opacity: 0;
    transform: translateX(-50px);
    transition: opacity 0.6s ease-out, transform 0.6s ease-out;
}

.about-image-container {
    width: 45%; /* Уменьшенная ширина для увеличения расстояния */
    display: flex;
    justify-content: center;
    opacity: 0;
    transform: translateX(50px);
    transition: opacity 0.6s ease-out, transform 0.6s ease-out;
}

.about-image {
    max-width: 100%;
    border-radius: 12px;
}

.about-block.in-view .about-text {
    opacity: 1;
    transform: translateX(0);
}

.about-block.in-view .about-image-container {
    opacity: 1;
    transform: translateX(0);
}

.block_header {
    margin-top: 0;
    color: black;
    font-size: 2.5em;
    margin-bottom: 70px; /* Увеличенное расстояние снизу */
}

.block_text {
    max-width: 900px;
    font-size: 1.2em;
    line-height: 1.6;
    margin-bottom: 20px;
}

/* Responsive Styles */
@media screen and (max-width: 1200px) {
    .about-content {
        flex-direction: column;
    }
    .about-text {
        width: 100%;
        transform: translateX(0); /* Убрать сдвиг */
    }
    .about-image-container {
        width: 100%;
        margin-top: 20px;
        transform: translateX(0); /* Убрать сдвиг */
    }
    .block_header {
        font-size: 3em;
    }
    .block_text {
        font-size: 1.5em;
    }
}

/* Разделитель между блоками */
.section-divider {
    width: 80%;
    height: 4px;
    background-color: #4e2d17; /* Цвет разделителя */
    border: none;
    margin: 50px auto 0;
}

/* Стили для блока "Наши услуги" */
.second-block {
    width: 100%;
    background-color: #ffffff; /* Белый фон второго блока */
    padding: 50px 20px;
    margin-top: 50px; /* Добавлен margin */
    display: flex;
    justify-content: center;
}

.second-block .block-content {
    max-width: 1920px;
    width: 100%;
    padding: 0 20px; /* Добавлен padding */
}

.second-block .block_header {
    color: black; /* Черный цвет заголовка */
    margin-top: 10px; /* Уменьшенное расстояние сверху */
    margin-bottom: 30px; /* Увеличенное расстояние снизу */
}

.services-list {
    display: flex;
    justify-content: space-between;
    margin-top: 30px;
}

.services-left, .services-right {
    display: flex;
    flex-direction: column;
}

.services-left {
    width: 48%;
}

.services-right {
    width: 48%;
    justify-content: space-between;
}

.service-item {
    display: flex;
    align-items: stretch; /* Обновлено для растягивания */
    height: 100%;
    margin-bottom: 20px; /* Добавлен нижний отступ */
    border: 1px solid black; /* Черная граница */
    border-radius: 12px; /* Установлен общий border-radius */
    box-sizing: border-box;
    transition: transform 0.5s ease, box-shadow 0.5s ease;
}

.service-item:hover {
    transform: scale(1.05);
    box-shadow: 0 8px 16px rgba(0, 0, 0, 0.2); /* Увеличенная тень при наведении */
}

.service-text, .service-image-container {
    width: 50%;
    display: flex;
    flex-direction: column;
    justify-content: center;
}

.service-text {
    background-color: #4e2d17; /* Цвет заднего фона текста */
    color: white; /* Цвет текста */
    padding: 20px;
    border-top-left-radius: 12px;
    border-bottom-left-radius: 12px;
    text-align: left;
    box-sizing: border-box; /* Включить padding в ширину */
}

.service-image-container {
    background-color: white; /* Белый фон для изображений */
    padding: 20px;
    border-top-right-radius: 12px;
    border-bottom-right-radius: 12px;
    text-align: center;
    box-sizing: border-box; /* Включить padding в ширину */
}

.services-right .service-text {
    order: 2;
    border-radius: 0 12px 12px 0;
}

.services-right .service-image-container {
    order: 1;
    border-radius: 12px 0 0 12px;
}

.service-image {
    max-width: 100%;
    height: auto;
    border-radius: 8px;
}

.service-title {
    font-size: 1.5em;
    margin-bottom: 10px;
}

.service-description {
    font-size: 1em;
    color: #ddd;
}

.services-link {
    text-align: center;
    font-size: 1.2em;
    margin-top: 30px;
    color: #4e2d17;
}

.services-link a {
    color: #4e2d17;
    text-decoration: none;
    font-weight: bold;
}

.services-link a:hover {
    text-decoration: underline;
}

/* Responsive Styles */
@media screen and (max-width: 1200px) {

    .container{
        padding: 0;
    }

    .services-list {
        flex-direction: column;
    }
    .services-left, .services-right {
        width: 100%;
    }
    .service-item {
        flex-direction: column;
        height: auto;
        margin-bottom: 20px; /* Добавлен нижний отступ */
        border-radius: 12px; /* Общий border-radius */
    }
    .service-text, .service-image-container {
        width: 100%;
    }
    .service-text {
        border-radius: 12px 12px 0 0;
    }
    .service-image-container {
        border-radius: 0 0 12px 12px;
    }
    .services-right .service-text {
        order: 1;
        border-radius: 12px 12px 0 0; /* Сверху border-radius */
    }
    .services-right .service-image-container {
        order: 2;
        border-radius: 0 0 12px 12px; /* Снизу border-radius */
        display: flex;
        justify-content: center;
    }
    .service-image {
        max-width: 100%;
        height: auto;
        border-radius: 8px;
        margin: 0 auto; /* Центровка изображения */
    }

    .block_header {
        font-size: 3em;
    }

    .block_text,
    .service-description{
        font-size: 1.5em;
    }

    .service-item:hover {
        transform: none;
        box-shadow: none;
    }
    .services-link{
        font-size: 2em;
    }
}


.service-title {
    font-size: 1.5em;
    margin-bottom: 10px;
}

/* Добавляем стили для анимации */
.service-item {
    opacity: 0;
    transform: translateY(100px);
    transition: opacity 0.6s ease-out, transform 0.6s ease-out;
}

.service-item.in-view {
    opacity: 1;
    transform: translateY(0);
}

/* Responsive Styles */


footer {
    background-color: #4e2d17;
    color: white;
    display: flex;
    justify-content: center;
    align-items: center;
    width: 100%;
    max-width: 1920px;
    padding: 20px 0;
    position: relative;
}

.footer-content {
    width: 100%;
    max-width: 1200px;
    text-align: center;
    margin: 0 auto;
}

.footer-row {
    display: flex;
    justify-content: space-around;
    margin-bottom: 10px;
}

.footer-link {
    color: white;
    text-decoration: none;
    margin: 0 10px;
    font-size: 1.2em;
    transition: color 0.3s ease;
}

.footer-link:hover {
    color: #dbf192; /* Цвет при наведении */
}

/* Responsive Styles */
@media screen and (max-width: 600px) {
    .footer-row {
        flex-direction: column;
        margin-bottom: 20px;
    }
    .footer-link {
        margin: 10px 0;
    }
}


/* Стили для блока "Наши специалисты" */
.specialists-block {
    width: 100%;
    background-color: #ffffff;
    padding: 50px 20px;
    margin-top: 50px;
    display: flex;
    flex-direction: column;
    align-items: center;
}

.specialists-container {
    width: 100%;
    max-width: 1920px;
    display: flex;
    justify-content: center;
}

.specialists-wrapper {
    width: 100%;
}

.specialists-row {
    display: flex;
    justify-content: space-evenly;
    margin-bottom: 20px;
}

.specialist-item {
    width: 18%; /* Reduced width for each section to fit 5 per row */
    text-align: center;
    background-color: #f5f5f5;
    border-radius: 10px;
    box-shadow: 0 4px 8px rgba(0, 0, 0, 0.1);
    overflow: hidden; /* To ensure the image doesn't overflow */
    transition: transform 0.3s ease, box-shadow 0.3s ease;
}

.specialist-item:hover {
    transform: translateY(-10px); /* Move the item up slightly */
    box-shadow: 0 8px 16px rgba(0, 0, 0, 0.2); /* Enhance the shadow */
}

.specialist-photo {
    width: 100%;
    height: auto;
    display: block;
}

.specialist-info {
    background-color: #9dbd00;
    padding: 10px;
    color: white;
}

.specialist-name {
    font-size: 1.2em;
    margin: 5px 0;
}

.specialist-position {
    font-size: 1em;
}

/* Responsive Styles */
@media screen and (max-width: 1200px) {
    .specialists-row {
        flex-direction: column;
    }
    .specialist-item {
        width: 100%;
        margin-bottom: 20px;
    }

    .block_header {
        font-size: 3em;
    }

    .specialist-name,
    .specialist-position {
        font-size: 1.5em;
    }

    .specialist-item:hover {
        transform: none;
        box-shadow: none;
    }
}

/* Стили для блока "Где нас найти" */
.findus-block {
    width: 100%;
    background-color: #ffffff;
    padding: 50px 20px;
    margin-top: 50px;
    display: flex;
    justify-content: center;
    align-items: center;
}

.findus-content {
    max-width: 1600px; /* Увеличено для размещения трех колонок */
    display: flex;
    justify-content: space-between;
    align-items: flex-start;
    width: 100%;
}

.findus-text {
    width: 30%; /* Уменьшенная ширина для увеличения расстояния */
    color: #333;
}

.findus-map {
    width: 35%; /* Уменьшенная ширина для увеличения расстояния */
}

.findus-photo {
    width: 30%; /* Уменьшенная ширина для увеличения расстояния */
    display: flex;
    justify-content: center;
}

.clinic-photo {
    max-width: 100%;
    max-height: 400px;
    border-radius: 12px;
}

.block_header {
    color: black;
    font-size: 2.5em;
    margin-top: 10px; /* Уменьшенное расстояние сверху */
    margin-bottom: 30px; /* Увеличенное расстояние снизу */
}

.block_text {
    max-width: 900px;
    font-size: 1.2em;
    line-height: 1.6;
    margin-bottom: 20px;
}

/* Responsive Styles */
@media screen and (max-width: 1200px) {
    .findus-content {
        flex-direction: column;
    }
    .findus-text, .findus-map, .findus-photo {
        width: 100%;
    }
    .findus-photo {
        margin-top: 20px;
    }

    .block_header {
        font-size: 3em;
    }

    .block_text {
        font-size: 1.5em;
    }
}

/* Responsive Styles */
@media screen and (max-width: 1200px) {
    .service-item:hover,
    .specialist-item:hover,
    .button:hover,
    .button-burger:hover,
    .burger-menu a:hover,
    .footer-link:hover {
        transform: none;
        box-shadow: none;
        background-color: inherit; /* Убираем изменение фона при наведении */
        color: inherit; /* Убираем изменение цвета при наведении */
    }
    .block_header {
        font-size: 3em;
    }
    .block_text {
        font-size: 1.5em;
    }
}

/* Стили для модального окна */
.modal {
    display: none;
    position: fixed;
    z-index: 1000;
    left: 0;
    top: 0;
    width: 100%;
    height: 100%;
    overflow: auto;
    background-color: rgba(0, 0, 0, 0.5);
}

.modal-content {
    background-color: #fff;
    margin: 10% auto;
    padding: 20px;
    border: 1px solid #888;
    width: 80%; /* Увеличенная ширина окна */
    max-width: 800px;
    border-radius: 12px;
}

.modal-header {
    display: flex;
    justify-content: space-between;
    align-items: center;
    margin-bottom: 20px;
}

.modal-header h2 {
    margin: 0;
    font-size: 2em;
}

.modal-header .close {
    font-size: 1.5em;
    cursor: pointer;
}

.modal-body {
    font-size: 1.2em;
}

.service-table {
    width: 100%;
}

.service-row {
    display: flex;
    justify-content: space-between;
    align-items: center;
    padding: 10px 0;
}

.service-cell {
    width: 45%;
    padding: 10px;
}

.modal-section-divider{

    width: 95%;
    margin: 2px auto;
    background-color: #4e2d17;
}

.specialist-position{
    margin: 12px 0 6px 0;
}